
@{
    ViewBag.Title = "DefaultView";
    Layout = "~/Views/Public_Page/MainLayout.cshtml";
}

<div class="row column1">
    <div class="col-md-6 col-lg-3">
        <div class="full counter_section margin_bottom_30">
            <div class="counter_no text-center">
                <h1 class="text-center" style="color:#F05907;font-family: fantasy;">@ViewBag.msj</h1>
                <img src="http://quesipizzasmx-001-site19.dtempurl.com/not_found1.png" style="background-position: center;background-repeat: no-repeat;background-size: cover;" width="300" />
            </div>
        </div>
    </div>
</div>